.settings .img-divv{
    height: 170px;
    width: 170px;
    position: relative;
}
.settings .img-divv img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}
#change-pic{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    color: #FFC700;
}
#change-pic:hover{
    cursor: pointer;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.settings >*{
    margin: 10px;
}
.settings .user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings .user_info p{
    color: gray;
}
.user_settings_form{
    margin-top: 20px;
}
.user_settings_form form {
    display: flex;
    justify-content: center;
}
.user_settings_form .form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user_settings_form form .settings_input{
    display: flex;
    flex-direction: column;
}
.user_settings_form form .settings_input input{
    height: 40px;
    width: 350px;
    margin: 20px;
    border: none;
    background-color: #f9f8f2;
    padding: 10px;
}
.user_settings_form form .settings_input label{
    margin:0 20px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.user_settings_form form button{
    height: 40px;
    width: 360px;
    background-color: #FFC700;
    color: black;
    font-weight: 600;
    border: none;
}
.user_settings_form .button-div{
    display: flex;
    justify-content: center;
}
.user_settings_form .Account,.user_settings_form .chanel,.user_settings_form .videos{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: black;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(176, 176, 176);
}
.user_settings_form .Account:hover,.user_settings_form .chanel:hover,.user_settings_form .videos:hover{
    cursor: pointer;
    color: #FFC700;
}
.user_settings_form .Account div,.user_settings_form .chanel div,.user_settings_form .videos div{
    display: flex;
    align-items: center;
}
.prof-icons{
    font-size: 25px;
    margin-right: 10px;
}
.user_settings_form span{
    font-weight: 600;
}
@media screen and (max-width: 700px){
    .user_settings_form form button{
        width: 300px;
    }
    .user_settings_form form input{
        width: 310px;
    }
}
