.view-channel-list .table-div{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
	margin-top: 24px;
	width: 100%;
	/* color: var(--dark); */
}
.view-channel-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fbfaf9;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .view-channel-list h1{
    display: flex;
    justify-self: center;
    width: 100%;
    margin: 24px;
  }
  .view-channel-list table .table-img-div{
    height: 100px;
    width: 200px;
  }
  .view-channel-list table .table-img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .view-channel-list table #edit,  .view-channel-list table #delete,.view-channel-list table #view{
    font-size: 20px;
  }
  .view-channel-list table #edit{
    color: green;
  }
  .view-channel-list table #delete{
    color: red;
  }
  .view-channel-list .table-info-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .view-channel-list table thead tr th {
    text-align: left;
    color: #FFC700;
    padding: 20px;
  }
  .view-channel-list table .table-flex{
    display: flex;
  }

  .view-channel-list table .table-flex span{
    font-weight: 700;
  }
  .view-channel-list table .table-flex p{
    font-size: 14px;
    color: gray;
  }
  
  .view-channel-list table  tbody tr td {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid #FFC700;
  }
  
  .view-channel-list table  tbody td:hover {
    cursor: pointer;
    background-color: #faf3d6;;
  }

  
  
  .view-channel-list table tbody tr td:last-child button {
    background-color: #3C91E6;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-channel-list table  tbody tr td:last-child button:hover {
    background-color: #23538A;
  }
  .view-channel-list table  td .delete-btn:hover{
    cursor: pointer;
  }
  .view-channel-list table td .delete-btn{
    height: 30px;
    width: 100px;
    background-color: red;
    color: white;
  }

  .view-channel-list table  td .edit-btn{
    height: 30px;
    width: 100px;
    background-color: #3C91E6;
    color: white;
  }
  